header {
    background-color: #ffffff;
    padding: 20px;
    color: #3b6ca4;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: 700;
    font-size: 1.7rem;
}

.search {
    display: flex;
}

.search input {
    width: 13rem;
    margin-right: 5px;
}

header .button {
    line-height: 2.4rem;
}